<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
<body>
  {{> homeHeader}}
  <p>Hello, {{screamIt Greeting}}</p>
</body>
{{> footer}}
</html>
